.entry--container {
  margin-left: 25px;
  margin-top: 25px;
}

.simple .entry--container {
  margin: 25px 25px 0px;
  flex-grow: 1;
  min-width: 0;
}

.entry--icon {
  fill: #6aa9f4;
}
.entry--icon.fencing {
  fill: #353d46;
}

.mobile .entry--container {
  margin: 18px auto 0;
}

.simple .entry {
  background-color: #fff;
}

.mobile .entry {
  margin: 0;
}
